<div class="login-wrapper">
	<form [formGroup]="loginForm" class="login" (ngSubmit)="onSubmit()">
		<section class="title">
			{{ title }}
		</section>
		<clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true" *ngIf="showAlert">
			<clr-alert-item>
				<span class="alert-text">
					{{error}}
				</span>
			</clr-alert-item>
		</clr-alert>
		<div class="login-group">
			<clr-input-container>
				<input type="text" name="username" clrInput placeholder="Username" formControlName="username" />
			</clr-input-container>
			<clr-password-container>
				<input type="password" name="password" clrPassword placeholder="Password" formControlName="password" />
			</clr-password-container>
			<button [clrLoading]="submitBtnState" type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">LOGIN</button>
		</div>
	</form>
</div>