<header class="header-6">
	<div class="branding">
		<a href="..." class="nav-link">
			<clr-icon shape="vm-bug"></clr-icon>
			<span class="title">{{title}}</span>
		</a>
	</div>
	<div class="header-actions">
		<clr-dropdown>
			<button class="nav-text" clrDropdownTrigger (click)="logout()">
				Log out
			</button>
		</clr-dropdown>
	</div>
</header>
<div class="content-container">
	Organization: Webpack
	<div class="content-area">
		<clr-datagrid>
			<clr-dg-column>
				<ng-container *clrDgHideableColumn="{hidden: false}">
					Name
				</ng-container>
			</clr-dg-column>
			<clr-dg-column>
				<ng-container *clrDgHideableColumn="{hidden: false}">
					License
				</ng-container>
			</clr-dg-column>
			<clr-dg-column>
				<ng-container *clrDgHideableColumn="{hidden: false}">
					Commits
				</ng-container>
			</clr-dg-column>
			<clr-dg-column>
				<ng-container *clrDgHideableColumn="{hidden: false}">
					Contributors
				</ng-container>
			</clr-dg-column>
			<clr-dg-column>
				<ng-container *clrDgHideableColumn="{hidden: false}">
					Releases
				</ng-container>
			</clr-dg-column>
			<clr-dg-column>
				<ng-container *clrDgHideableColumn="{hidden: false}">
					Branches
				</ng-container>
			</clr-dg-column>
			...

			<clr-dg-row *clrDgItems="let repository of repositories" [clrDgItem]="repository">
				<clr-dg-cell><a [routerLink]="['/details']" [queryParams]="{repositoryName: repository.name}" >{{repository.name}}</a></clr-dg-cell>
				<clr-dg-cell>{{repository.license}}</clr-dg-cell>
				<clr-dg-cell>{{repository.commits}}</clr-dg-cell>
				<clr-dg-cell>{{repository.collaborators}}</clr-dg-cell>
				<clr-dg-cell>{{repository.releases}}</clr-dg-cell>
				<clr-dg-cell>{{repository.branches.length}}</clr-dg-cell>
			</clr-dg-row>

			<clr-dg-footer>
				<!-- Optional customization of hide/show columns toggle -->
				<clr-dg-column-toggle>
					<clr-dg-column-toggle-title>Kolumne Herauschauen!</clr-dg-column-toggle-title>
					<clr-dg-column-toggle-button>Alle auswählen!</clr-dg-column-toggle-button>
				</clr-dg-column-toggle>
				{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
				of {{pagination.totalItems}} Pinned repositories
				<clr-dg-pagination #pagination [clrDgPageSize]="currentPageSize"></clr-dg-pagination>
			</clr-dg-footer>
		</clr-datagrid>
	</div>
</div>