<header class="header-6">
	<div class="branding">
		<a [routerLink]="['/content']" class="nav-link">
			<clr-icon shape="vm-bug"></clr-icon>
			<span class="title">{{title}}</span>
		</a>
	</div>
	<div class="header-actions">
		<clr-dropdown>
			<button class="nav-text" clrDropdownTrigger (click)="logout()">
				Log out
			</button>
		</clr-dropdown>
	</div>
</header>
<div class="container">
	Organization / Repository: {{organizationName}} / {{repositoryName}} <button class="btn btn-sm" style="margin-left: 1.5em"
	 (click)="home()">Back
		to pinned repositories</button>
	<clr-tabs>
		<clr-tab>
			<button clrTabLink>Details</button>
			<ng-template [(clrIfActive)]="dashboardActive">
				<clr-tab-content>
					<div class="content-container">
						<div class="content-area">
							<div class="clr-row">
								<div class="clr-col-6">README.md</div>
								<div class="clr-col-6">package.json</div>
							</div>
							<div class="clr-row">
								<div class="clr-col-6" [innerHtml]="readme"></div>
								<div class="clr-col-6">
									<ngx-json-viewer [json]="packageJson"></ngx-json-viewer>
								</div>
							</div>
						</div>
					</div>
				</clr-tab-content>
			</ng-template>
		</clr-tab>

		<clr-tab>
			<button clrTabLink>Commits</button>
			<ng-template [(clrIfActive)]="managementActive">
				<div class="form-group">
					<label for="fromDate">Since</label>
					<input type="fromDate" id="fromDate" name="fromDate" [(ngModel)]="filter.fromDate" readonly clrDate
					 (ngModelChange)="fetch()">
					<label for="toDate">Until</label>
					<input type="toDate" id="toDate" name="toDate" [(ngModel)]="filter.toDate" readonly clrDate (ngModelChange)="fetch($event)">
				</div>
				<clr-tab-content>
					<div class="content-container">
						<div class="content-area">
							<clr-datagrid style="overflow: hidden;">
								<clr-dg-column>Comment</clr-dg-column>
								<clr-dg-column>Date</clr-dg-column>
								<clr-dg-column>Contributor</clr-dg-column>
								<clr-dg-column>Download patch</clr-dg-column>

								<clr-dg-row *ngFor="let commit of commits">
									<clr-dg-cell>{{commit.comment}}</clr-dg-cell>
									<clr-dg-cell>{{commit.date}}</clr-dg-cell>
									<clr-dg-cell>{{commit.name}}</clr-dg-cell>
									<clr-dg-cell>
										<a style="cursor: pointer;" (click)="patch(commit.sha)" >Download</a>
									</clr-dg-cell>
								</clr-dg-row>

								<clr-dg-footer>
									{{filter.pagination.currentPage}} - {{filter.pagination.totalPages}}
									of {{commits.length}} Commits
									<button class="btn btn-sm" style="margin-left: 1em" [disabled]="filter.pagination.currentPage === 1" (click)="previousPage()"><</button>
									<button class="btn btn-sm" style="margin-left: 1em" [disabled]="filter.pagination.currentPage === filter.pagination.totalPages" (click)="nextPage()">></button>
								</clr-dg-footer>
							</clr-datagrid>
						</div>
					</div>
				</clr-tab-content>
			</ng-template>
		</clr-tab>
	</clr-tabs>
</div>